@import './../../../styles/mixins.module';
@import './../../../styles/vars.module';

.link {
  display: block;
  text-decoration: none;
  color: $textColor;
  font-size: 18px;
  border-bottom: 1px solid $outPhone;
  padding: 5px;

  .wrapper {


    .content {
      @include flexEdit(flex-start, flex-start, column);
      gap: 5px;
      cursor: pointer;

      .date {
        margin: 5px 0 0px 0;
      }

      .text {
        width: 96%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .btnBlock {
      margin: 5px;
      @include flexEdit(flex-start, center, row, 5px);

      button {
        width: 100%;
        height: 40px;
      }

    }
  }

  h4 {
    margin: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}